@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="mt-5 text-center">All Users</h1>
<br />

<hr />

<div class="float-right">
    <a class="btn btn-outline-secondary float-left" asp-action="Index" asp-controller="Admin">Back</a>
    <a class="btn btn-primary float-left" id="register" asp-area="Identity" asp-page="/Account/Register">Add new User</a>
    @*<a class="btn btn-primary float-left" id="register" asp-area="Identity" asp-page="/Account/RegisterForAdmin">Add new User</a>*@
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <h2 class="text-primary">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </h2>
                </td>
                <td>
                    <div class="card-footer">
                        <form asp-action="DeleteUser" asp-route-id="@item.Id" method="post">
                            <a class="btn btn-outline-primary"
                               asp-action="EditUser"
                               asp-controller="Admin"
                               asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i>
                                Edit
                            </a>
                            <span id="confirmDeleteSpan_@item.Id" style="display:none">
                                <span>Are you sure you want to delete?</span>
                                <button type="submit" class="btn btn-outline-danger">Yes</button>
                                <a href="#" class="btn btn-outline-primary"
                                   onclick="confirmDelete('@item.Id', false)">No</a>
                            </span>
                            <span id="deleteSpan_@item.Id">
                                <a href="#" class="btn btn-outline-danger"
                                   onclick="confirmDelete('@item.Id', true)"><i class="bi bi-trash"></i>Delete</a>
                            </span>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    }
</table>
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
