@using WebAppMovie.Data.ViewModels

@model IEnumerable<WebAppMovie.Models.Movie>

@{
    ViewData["Title"] = "List Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    Pager pager = ViewBag.Pager;
}

<br />
<h1 class="mt-5 text-center">List Movies</h1>
<br />

<partial name="_pagerbar" model="@pager" />

<div style="position: fixed; top: 100px; left: 50px" class="text-white">
    <a asp-controller="Movies" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Create Movie
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <i class="@sortModel.GetColumn("title").SortIcon" aria-hidden="true"></i>
                <a asp-controller="Manager"
                   asp-action="ListMovies"
                   asp-route-sortExpression="@sortModel.GetColumn("title").SortExpression">
                    @Html.DisplayNameFor(model => model.Title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producers)
            </th>
            <th>
                <i class="@sortModel.GetColumn("description").SortIcon" aria-hidden="true"></i>
                <a asp-controller="Manager"
                   asp-action="ListMovies"
                   asp-route-sortExpression="@sortModel.GetColumn("description").SortExpression">
                    @Html.DisplayNameFor(model => model.Description)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    <img src="@item.ImageUrl" alt="@item.Title" style="max-width: 100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @foreach (var actor in item.Actors)
                    {
                        <div class="row">
                            <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.FullName</a>
                        </div>
                    }
                </td>
                <td>
                    @foreach (var producer in item.Producers)
                    {
                        <div class="row">
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@producer.ProducerId">@producer.FullName</a>
                        </div>
                    }
                </td>
                <td style="max-width: 300px">
                    ----///----
                    @*@Html.DisplayFor(modelItem => item.Description)*@
                </td>
                <td>
                    <a class="btn btn-outline-primary"
                       asp-controller="Movies"
                       asp-action="Edit"
                       asp-route-id="@item.MovieId">
                        <i class="bi bi-pencil-square"></i>Edit
                    </a>
                    <a class="btn btn-outline-info"
                       asp-controller="Movies"
                       asp-action="Details"
                       asp-route-id="@item.MovieId">
                        <i class="bi bi-eye"></i>Details
                    </a>
                    <a class="btn btn-outline-danger"
                       asp-controller="Movies"
                       asp-action="Delete"
                       asp-route-id="@item.MovieId">
                        <i class="bi bi-trash"></i>Delete
                    </a>
                </td>
            </tr>
        </tbody>
    }
</table>