@*@model WebAppMovie.Models.Movie*@
@model WebAppMovie.Data.ViewModels.NewMovieViewModel

@using WebAppMovie.Data.Enums
@using WebAppMovie.Data


@{
    ViewData["Title"] = "Create a new movie";
}


<br />
<h1 class="mt-5">Create Movies</h1>
<br />



<div class="row">
    <div class="col-md-8 offset-2">
        <div class="row flex-nowrap">
            <div class="form-group text-center">
                <img id="ImagePreview" style="max-width: 350px" />
            </div>
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ReleaseDate" class="control-label"></label>
                                <input asp-for="ReleaseDate" type="date" class="form-control" />
                                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input asp-for="ImageUrl" class="form-control" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Genre" class="control-label"></label>
                                <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<Genre>()"></select>
                                <span asp-validation-for="Genre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Rating" class="control-label"></label>
                                <select asp-for="Rating" class="form-control" asp-items="Html.GetEnumSelectList<Rating>()"></select>
                                <span asp-validation-for="Rating" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <label asp-for="@Model.Producers" class="control-label"></label>
                                <select asp-for="@Model.Producers" class="form-control" asp-items="ViewBag.Producers"></select>
                                @Html.DropDownListFor(m => m.Producers, (MultiSelectList)ViewBag.Producers)
                                @Html.ListBoxFor(m => m.Producers, (MultiSelectList)ViewBag.Producers)
                                <span asp-validation-for="@Model.Producers" class="text-danger"></span>
                                </div>*@

                            <div class="form-group">
                                <label asp-for="ProducersMovieId" class="control-label"></label>
                                <select asp-for="ProducersMovieId" class="form-control" asp-items="ViewBag.Producers" multiple></select>
                                @*@Html.DropDownListFor(m => m.ProducersMovie, (MultiSelectList)ViewBag.Producers)*@
                                @*<span asp-validation-for="ProducersMovie" class="text-danger"></span>*@

                                @*@Html.DropDownList("Producers", String.Empty)
                                    @Html.ValidationMessageFor(model => model.ProducersMovie)*@

                            </div>

                            @*<div class="form-group">
                                    <label asp-for="Actors" class="control-label"></label>
                                    <select asp-for="Actors" class="form-control" asp-items="ViewBag.Actors"></select>
                                    <span asp-validation-for="Actors" class="text-danger"></span>
                                </div>*@
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>
}

